{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>BLOODLINE - Противопоказания к сдаче крови</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    {% include 'links.html' %}
  </head>
  <body>
    <header class="header">
        <div class="container">
          <nav class="nav">
            <a href="/" class="logo">
              <img
                src="{% static 'image/Иконка страницы.svg' %}"
                alt="BLOODLINE logo"
              />
              <span>BLOОD<span class="red">LINE</span></span>
            </a>
            <button class="menu-toggle" aria-label="Toggle menu">
              <i class="fas fa-bars"></i>
            </button>
            <div class="nav-links-container">
              <ul class="nav-links">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/planned_donations/">Все донации</a></li>
                <li><a class="nav-link" href="/about_us/">О нас</a></li>
                <li><a class="nav-link" href="/how_to_be_donors/">Как стать донором</a></li>
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="/profile/">Профиль</a></li>
                <li>
                  <button onclick="logout()" class="btn btn-outline">
                    Выйти
                  </button>
                </li>
                {% else %}
                <li>
                  <a href="/login/" class="btn btn-outline btn-primary bt"
                    >Войти</a
                  >
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
      </header>

      <main class="main-content">
        <div class="container">
          <h2>Противопоказания к сдаче крови</h2>
  
          <div class="info-card">
            <h2>Критерии допуска к сдаче крови:</h2>
            <ul>
              <li>Возраст от 18 лет</li>
              <li>Вес от 50 кг. и индекс массы тела от 18,5 и не более 40</li>
              <li>Температура тела 37°С и ниже</li>
              <li>Пульс от 55 до 95 ударов в минуту</li>
              <li>
                Давление — 90-149 мм рт. ст. (систолическое), 60-89 мм рт. ст.
                (диастолическое)
              </li>
              <li>
                Отсутствие противопоказаний из списка абсолютных и временных
                противопоказаний
              </li>
            </ul>
            <p>
              Вам может понадобиться прописка от полугода (в некоторых регионах —
              от года) в регионе сдачи. Здесь вы можете посмотреть адреса центров
              крови, которые готовы принимать доноров без местной прописки.
            </p>
          </div>
  
          <div class="info-card">
            <h2>Абсолютные противопоказания к донорству</h2>
            <h3>Инфекционные и паразитарные болезни:</h3>
            <ul>
              <li>ВИЧ-инфекция</li>
              <li>Вирусы гепатита В и С</li>
              <li>Сифилис, врожденный или приобретенный</li>
              <li>Туберкулез (все формы)</li>
              <li>Бруцеллез</li>
              <li>Сыпной тиф</li>
              <li>Туляремия</li>
              <li>Лепра (болезнь Гансена)</li>
              <li>Африканский трипаносомоз</li>
              <li>Болезнь Чагаса</li>
              <li>Лейшманиоз</li>
              <li>Токсоплазмоз</li>
              <li>Бабезиоз</li>
              <li>Хроническая лихорадка Ку</li>
              <li>Эхинококкоз</li>
              <li>Филяриатоз</li>
              <li>Дракункулез</li>
            </ul>
            <h3>Другие абсолютные противопоказания:</h3>
            <ul>
              <li>Злокачественные новообразования</li>
              <li>
                Болезни крови, кроветворных органов и отдельные нарушения,
                вовлекающие иммунный механизм
              </li>
              <li>
                Болезни центральной нервной системы (органические нарушения)
              </li>
              <li>Полное отсутствие слуха и (или) речи, и (или) зрения</li>
              <li>Психические расстройства и расстройства поведения</li>
              <li>Болезни системы кровообращения</li>
              <li>Болезни органов дыхания</li>
              <li>Болезни органов пищеварения</li>
              <li>Болезни мочеполовой системы в стадии декомпенсации</li>
              <li>
                Болезни соединительной ткани, а также острый и (или) хронический
                остеомиелит
              </li>
              <li>Лучевая болезнь</li>
              <li>Болезни эндокринной системы в стадии декомпенсации</li>
              <li>Болезни глаза и его придаточного аппарата</li>
              <li>Болезни кожи и подкожной клетчатки</li>
              <li>Некоторые оперативные вмешательства</li>
            </ul>
          </div>
  
          <div class="info-card">
            <h2>Временные противопоказания к донорству</h2>
            <ul>
              <li>Масса тела менее 50 кг — до достижения массы тела 50 кг</li>
              <li>
                Возраст младше 20 лет — для донации 2 единиц эритроцитной массы
                или взвеси, полученной методом афереза - до достижения 20 лет
              </li>
              <li>
                Масса тела менее 70 кг — для донации 2 единиц эритроцитной массы
                или взвеси, полученной методом афереза — до достижения массы тела
                70 кг
              </li>
              <li>
                Гемоглобин менее 140 г/л — для донации 2 единиц эритроцитной массы
                или взвеси, полученной методом афереза — до достижения уровня
                гемоглобина 140 г/л
              </li>
              <li>
                Температура тела выше 37 °C — до нормализации температуры тела (37
                °C и ниже)
              </li>
              <li>
                Пульс менее 55 ударов в минуту и более 95 ударов в минуту — до
                нормализации пульса от 55 до 95 ударов в минуту
              </li>
              <li>
                Артериальное давление: систолическое менее 90 мм рт. ст. и более
                149 мм рт. ст.; диастолическое — менее 60 мм рт. ст. и более 89 мм
                рт. ст. — до нормализации
              </li>
              <li>Индекс массы тела — менее 18,5 и более 40</li>
              <li>
                Трансфузия крови и (или) ее компонентов — 120 календарных дней со
                дня трансфузии
              </li>
              <li>
                Оперативные вмешательства, в том числе искусственное прерывание
                беременности — 120 календарных дней со дня оперативного
                вмешательства
              </li>
              <li>
                Лечебные и косметические процедуры с нарушением кожного покрова —
                120 календарных дней с момента окончания процедур
              </li>
              <li>
                Перенесенные инфекционные заболевания (сроки отвода зависят от
                заболевания)
              </li>
              <li>Период беременности и лактации</li>
              <li>Вакцинация (сроки отвода зависят от типа вакцины)</li>
              <li>Прием некоторых лекарственных препаратов</li>
              <li>Прием алкоголя — 48 часов</li>
            </ul>
          </div>
  
          <div class="info-card important-info">
            <p>
              <strong>Важно:</strong> Если у вас есть сомнения относительно вашей
              возможности сдавать кровь, обязательно проконсультируйтесь с врачом
              перед донацией.
            </p>
          </div>
        </div>
      </main>

    <footer class="footer">
      <div class="container">
        <p>&copy; 2025 BLOODLINE</p>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
      function logout() {
        fetch("{% url 'logout' %}", {
          method: "POST",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/x-www-form-urlencoded",
          },
          credentials: "include",
        }).then((response) => {
          if (response.ok) {
            window.location.href = "/";
          }
        });
      }
    </script>
  </body>
</html>